@tailwind base;
@tailwind components;
@tailwind utilities;

.sortable-ghost {
  opacity: 0.3;
  border: 2px dashed #8432df;
  border-radius: 1rem;
  background-color: #f9f4fe;
  transition: all 0.25s ease-in-out;
  box-shadow: none !important;
}


.toast-error {
  background: linear-gradient(to right, #8432DF, #C020D0, #FC0FC0) !important;
  color: white !important;
  white-space: nowrap; /* Prevent text wrapping */
  max-width: 600px !important; /* Increase max-width to fit longer messages */
  width: auto !important; /* Allow width to adjust to content */
  padding: 10px 20px !important; /* Adjust padding for better appearance */
  font-size: 0.9rem !important; /* Ensure readable font size */
  overflow: hidden; /* Hide overflow if necessary */
  text-overflow: ellipsis; /* Add ellipsis if the text is too long */
}

/* Toast succès moderne */
.toast-success {
  background-color: #22c55e !important; /* Vert moderne */
  color: white !important;
  white-space: nowrap; /* Prevent text wrapping */
  max-width: 600px !important; /* Increase max-width to fit longer messages */
  width: auto !important; /* Allow width to adjust to content */
  padding: 10px 20px !important; /* Adjust padding for better appearance */
  font-size: 0.9rem !important; /* Ensure readable font size */
  overflow: hidden; /* Hide overflow if necessary */
  text-overflow: ellipsis; /* Add ellipsis if the text is too long */
    background-image: none !important; 
}

