<!-- <div *ngIf="!inProject" class="flex items-center justify-between p-2">
  <div class="flex items-center gap-3 flex-grow">
    <button (click)="toggleSidebar()" class="text-gray-600 hover:text-gray-800 text-xl">
      <i class="fa-solid fa-bars" style="color: #16306b;"></i>
    </button>
    <app-search-bar></app-search-bar>
  </div>

  <div class="flex items-center gap-6 mx-2 sm:mx-6 md:mx-10">
    <app-notifications
      [notifications]="notifications"
      [unreadCount]="unreadCount"
      (markAllAsRead)="markAllNotificationsAsRead()"
      (handleAction)="handleNotificationAction($event.id, $event.event)"
    ></app-notifications>
    <app-user-info [user]="user" [initials]="initials"></app-user-info>
  </div>
</div> -->

<!-- ************************************ -->
<!-- <div *ngIf="inProject" class="flex items-center justify-between relative p-2 gap-2 flex-wrap">

  <button 
    class="flex items-center gap-2 group transition flex-shrink-0" 
    aria-label="Aller au tableau de bord" 
    (click)="goToDashboard()"
  >
    <img 
      src="../../../../assets/images/logo_collabora_icon.svg" 
      alt="Collabora Logo" 
      class="w-8 h-8 object-cover transition group-hover:scale-110 group-hover:brightness-110" 
    />
    <h1 
      class="font-bold text-lg text-[#16306B] transition group-hover:text-[#2D4479]"
    >
      Collabora
    </h1>
  </button>

 
  <app-search-bar></app-search-bar>

  <div class="flex items-center gap-3 flex-shrink-0">
    <app-notifications
      [notifications]="notifications"
      [unreadCount]="unreadCount"
      (markAllAsRead)="markAllNotificationsAsRead()"
      (handleAction)="handleNotificationAction($event.id, $event.event)"
    ></app-notifications>

    <app-user-info [user]="user" [initials]="initials"></app-user-info>
  </div>
</div> -->
<div class="flex items-center justify-between px-2" [ngClass]="{
  'py-2': inProject
}">
  <ng-container *ngIf="!inProject; else inProjectBlock">
    <button (click)="toggleSidebar()" class="text-gray-600 hover:text-gray-800 text-xl">
      <i class="fa-solid fa-bars" style="color: #16306b;"></i>
    </button>
  </ng-container>

  <ng-template #inProjectBlock>
    <button 
      class="flex items-center gap-2 group transition flex-shrink-0" 
      aria-label="Aller au tableau de bord" 
      (click)="goToDashboard()"
    >
      <img 
        src="../../../../assets/images/logo_collabora_icon.svg" 
        alt="Collabora Logo" 
        class="w-8 h-8 object-cover transition group-hover:scale-110 group-hover:brightness-110" 
      />
      <h1 
        class="font-bold text-lg text-[#16306B] transition group-hover:text-[#2D4479]"
      >
        Collabora
      </h1>
    </button>
  </ng-template>

  <app-search-bar [projects]="projects"></app-search-bar>


  <div class="flex items-center gap-6">
    <app-notifications
      [notifications]="notifications"
      [unreadCount]="unreadCount"
      (markAllAsRead)="markAllNotificationsAsRead()"
      (handleAction)="handleNotificationAction($event.id, $event.event)"
    ></app-notifications>

    <app-user-info [user]="user" [initials]="initials"></app-user-info>
  </div>
</div>
