<div class="grid grid-cols-1 sm:grid-cols-4 bg-white rounded-xl shadow-md text-gray-800 text-sm
         min-w-[300px] p-4 my-4 border-2 border-primary-mid
         gap-y-3 sm:gap-y-0 sm:gap-x-4">

  <!-- Date + Buttons row on small screens -->
  <div class="flex items-center justify-between sm:hidden border-b border-gray-300 pb-2">
    <span class="whitespace-nowrap font-medium text-gray-600">{{ formattedDate | titlecase}}</span>

    <div class="relative">
      <div class="flex items-center gap-3">
        <button *ngIf="currentUserRole === 'Owner'" (click)="openModal()"
          class="bg-primary-mid text-white px-4 py-2 rounded-lg hover:bg-primary-start transition duration-200 font-semibold whitespace-nowrap flex items-center gap-1 justify-between"
          aria-label="Ajouter un membre" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          Membre
        </button>
        <!--options button-->
        <ng-container
          *ngTemplateOutlet="projectMenuFull; context: { isOwner: currentUserRole === 'Owner', menuLeft: menuLeft, toggle: ToggleMenu }">
        </ng-container>
      </div>
      <!-- Add Member Modal -->
      <app-add-member-modal *ngIf="showAddMemberModal" [existingMembers]="project.members"
        (memberChangesConfirmed)="onMemberChangesConfirmed($event)" (close)="showAddMemberModal = false">
      </app-add-member-modal>
    </div>
  </div>

  <!-- Date for larger screens -->
  <div class="hidden sm:flex items-center gap-2 pr-4 sm:pr-6 border-r border-gray-300 justify-start">
    <span class="whitespace-nowrap font-medium text-gray-600">{{ formattedDate | titlecase}}</span>
  </div>

  <!-- Board title + avatars -->
  <div class="col-span-2 flex flex-col sm:flex-row justify-center sm:justify-between items-center
           border-gray-300 px-0 sm:px-6 gap-2 sm:gap-0
           sm:border-r sm:border-gray-300 sm:order-none order-2 sm:pt-0 pt-3">

    <h2 class="text-base font-semibold truncate
             max-w-full sm:max-w-[70%]
             text-center sm:text-left" title="Board — {{ project.name }}">
      Board — {{ project.name }}
    </h2>

    <div class="flex -space-x-0.5 justify-center sm:justify-start">
      <ng-container *ngFor="let m of project.members | slice:0:5">
        <div class="relative tooltip not-clickable"
          [attr.data-tooltip]="m.fullName + (m.role === 'Owner' ? ' (Administrateur)' : '')">
          <app-avatar [user]="m" size="header" />
          <!-- Owner badge -->
          <span *ngIf="m.role === 'Owner'" class="absolute bottom-0 right-0 z-20 pointer-events-none w-3 h-3 flex items-center justify-center
                   bg-yellow-400 border border-yellow-500 rounded-full shadow translate-y-[1px]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-3.5 h-3.5">
              <path d="M5 8l3 3 4-6 4 6 3-3v10H5V8z" />
            </svg>
          </span>
        </div>
      </ng-container>

      <span *ngIf="project.members.length > 5"
        class="flex items-center justify-center sm:w-8 sm:h-8 w-9 h-9 rounded-full bg-gray-200 text-xs font-semibold text-gray-600 border-2 border-white shadow-md ml-1"
        title="{{ project.members.length - 5 }} autres membres">
        +{{ project.members.length - 5 }}
      </span>
    </div>
  </div>

  <div class="relative">

    <!-- Header right section -->
    <div class="hidden sm:flex items-center justify-end gap-4">

      <!-- + Membre button -->
      <div class="relative">
        <button (click)="openModal()" *ngIf="currentUserRole === 'Owner'"
          class="bg-primary-mid text-white px-4 py-2 rounded-lg hover:bg-primary-start transition duration-200 font-semibold whitespace-nowrap flex items-center gap-1 justify-between"
          aria-label="Ajouter un membre" type="button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
          </svg>
          Membre
        </button>
      </div>

      <!-- Options menu button -->
      <ng-container
        *ngTemplateOutlet="projectMenuFull; context: { isOwner: currentUserRole === 'Owner', menuLeft: menuLeft }">
      </ng-container>

    </div>

    <!-- Add Member Modal -->
    <app-add-member-modal *ngIf="showAddMemberModal" [existingMembers]="project.members"
      (memberChangesConfirmed)="onMemberChangesConfirmed($event)" (close)="showAddMemberModal = false">
    </app-add-member-modal>

  </div>

</div>



<ng-template #projectMenuFull let-isOwner="isOwner" let-menuLeft="menuLeft" let-toggle="toggle">
  <div class="relative">
    <!-- Menu button -->
    <button (click)="ToggleMenu($event)"
      class="text-gray-600 p-1.5 rounded-full border border-gray-300 transition duration-200 tooltip" [ngClass]="{
        'bg-primary-mid text-white': menuOpen,
        'text-gray-500 hover:text-primary-mid hover:border-primary-mid': !menuOpen
      }" aria-label="Options supplémentaires" type="button" data-tooltip="Options">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="1"></circle>
        <circle cx="19" cy="12" r="1"></circle>
        <circle cx="5" cy="12" r="1"></circle>
      </svg>
    </button>

    <!-- Dropdown menu -->
    <div *ngIf="menuOpen" [ngStyle]="{ left: menuLeft + 'px' }"
      class="absolute mt-2 w-56 bg-white border border-gray-200 rounded-xl shadow-lg overflow-hidden z-50">
      <ul class="divide-y divide-gray-100">

        <!-- Owner-only options -->
        <ng-container *ngIf="isOwner">
          <li>
            <button (click)="DeleteProject()"
              class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-primary-start hover:text-white transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
              Supprimer le projet
            </button>
          </li>
          <li>
            <button
              (click)="openModal()"
              class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-primary-start hover:text-white transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-5 w-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
              </svg>
              Gérer les membres
            </button>
          </li>
          <li>
            <button
              class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-primary-start hover:text-white transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
              Renommer le projet
            </button>
          </li>
        </ng-container>

        <!-- Options for everyone -->
        <li>
          <button
            class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-primary-start hover:text-white transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
            </svg>
            Activité
          </button>
        </li>
        <li>
          <button
            class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-primary-start hover:text-white transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
            </svg>
            Tâches archivées
          </button>
        </li>
      </ul>
    </div>
  </div>
</ng-template>