<div class="flex justify-between items-center bg-white rounded-2xl shadow-sm p-4 my-1 mx-5 h-16 ">
  <div>
    <ng-container *ngIf="!isEditingName; else editMode">
      <h2 class="text-[#16306B] font-bold text-md">
        {{project.name}}
      </h2>
    </ng-container>

    <ng-template #editMode>
      <input type="text"
            #projectInput
            [(ngModel)]="editedName"
            (blur)="saveProjectName()"
            (keydown.enter)="saveProjectName()"
            (keydown.escape)="cancelEdit()"
            class="border-b focus:outline-none focus:ring-0 focus:border-[#6B7280]  text-md font-bold text-[#16306B]" />
    </ng-template>
  </div>

  <span class="text-gray-500 text-sm font-medium hidden md:inline">
    {{formattedDate | titlecase }}
  </span>

  <div class="-space-x-2 justify-center hidden sm:flex">
      <ng-container *ngFor="let m of project.members | slice:0:4">
          <div class="relative tooltip not-clickable"
            [attr.data-tooltip]="m.fullName + (m.role === 'Owner' ? ' (Créateur)' : '')">                              
          <app-avatar [user]="m" size="header" />

          <span *ngIf="m.role === 'Owner'"
           class="absolute bottom-0 left-1/2  -translate-x-1/2 z-20 pointer-events-none w-3 h-3 flex items-center justify-center
                bg-yellow-400 border border-yellow-500 rounded-full shadow translate-y-[1px]">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="white" class="w-3.5 h-3.5">
              <path d="M5 8l3 3 4-6 4 6 3-3v10H5V8z" />
            </svg>
          </span>
        </div>
      </ng-container>
      <div class="tooltip not-clickable"
          [attr.data-tooltip]="project.members.length - 4 + '
                               autres membres'">
        <span *ngIf="project.members.length > 5"
        class="flex items-center justify-center rounded-full bg-gray-200 text-xs font-semibold text-gray-600
               border-2 border-white shadow-md  w-8 h-8">
        +{{ project.members.length - 4 }}
        </span>
      </div>
  </div>
  <div class="relative flex items-center justify-end gap-4">
    <!-- Ajouter un membre (visible uniquement pour le Owner) -->
    <button (click)="openModal('addMember')" *ngIf="currentUserRole === 'Owner'"
            class="bg-primary-start text-white px-4 py-2 rounded-lg
                  text-sm hover:shadow-lg transition duration-200 
                  font-semibold whitespace-nowrap flex items-center gap-1"
            aria-label="Ajouter un membre" type="button">
      <img src="assets/images/user-plus.svg" class="w-4 h-4">
      Membre
    </button>
    <ng-container *ngTemplateOutlet="projectMenuFull; context: { isOwner: currentUserRole === 'Owner' }">
    </ng-container>
  </div>
</div>
<app-add-member-modal *ngIf="currentModal === 'addMember'" [existingMembers]="project.members"
        (memberChangesConfirmed)="onMemberChangesConfirmed($event)" 
        (close)="closeModal()">
</app-add-member-modal>
<ng-template #projectMenuFull let-isOwner="isOwner">
  <div class="relative">
    <button (click)="toggleMenu($event)"
      class="text-gray-600 p-1.5 rounded-full hover:bg-gray-200 transition duration-200 tooltip"
      aria-label="Options supplémentaires" type="button" data-tooltip="Options">
      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="1"></circle>
        <circle cx="19" cy="12" r="1"></circle>
        <circle cx="5" cy="12" r="1"></circle>
      </svg>
    </button>

    <div *ngIf="menuOpen"
         class="absolute right-0 mt-4 w-56 bg-white border border-gray-200 rounded-xl shadow-lg overflow-hidden z-[1000]">
      <ul class="divide-y divide-gray-100">
        <ng-container *ngIf="isOwner">
          <li>
            <button (click)="deleteProject()" class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-purple-100 hover:text-purple-500 text-sm transition-colors">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
              </svg>
              Supprimer le projet
            </button>
          </li>
          <li>
            <button (click)="openModal('addMember')" class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-purple-100 hover:text-purple-500 text-sm transition-colors">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="h-5 w-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
              </svg>
              Gérer les membres
            </button>
          </li>
          <li>
            <button (click)="renameProjectInline()" class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-purple-100 hover:text-purple-500 text-sm transition-colors">
               <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
              </svg>
              Renommer le projet
            </button>
          </li>
        </ng-container>

        <li>
          <button (click)="openModal('history')" class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-purple-100 hover:text-purple-500 text-sm transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
            </svg>
            Activité
          </button>
        </li>
        <li>
          <button (click)="openModal('archived')" class="w-full flex items-center gap-3 px-3 py-1.5 hover:bg-purple-100 hover:text-purple-500 text-sm transition-colors">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
              stroke="currentColor" class="size-5">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z" />
            </svg>
            Archives
          </button>
        </li>
      </ul>
    </div>
  </div>
</ng-template>

<app-archived-task 
  *ngIf="currentModal === 'archived'"
  [projectId]="project.id"
  (closeModal)="closeModal()"
  (taskRestored)="taskRestored.emit($event)"
  (columnRestored)="columnRestored.emit($event)">
</app-archived-task>

<app-activity
  *ngIf="currentModal === 'history'"
  [projectId]="project.id"
  (closeModal)="closeModal()">
</app-activity> 