<div class="auth-container">
  <div class="form-container">
    <div class="auth-card">
      <img src="assets/images/logo.png" alt="Logo Collabora" class="form-logo">
      <h2 class="form-title">Mot de passe oublié</h2>
      <p class="form-subtitle">Entrez votre email pour recevoir un lien de réinitialisation</p>

      <div *ngIf="isSubmitted && message && isSuccess" class="message-container">
        <svg class="message-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#8432DF">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 13l4 4L19 7" />
        </svg>
        <p class="message-text">
          Un lien de réinitialisation a été envoyé à votre email.<br>Veuillez vérifier votre boîte de réception.
        </p>
      </div>

      <div *ngIf="isSubmitted && message && !isSuccess" class="message-container">
        <svg class="message-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="#DC2626">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
        </svg>
        <p class="message-text">
          {{message}}
        </p>
      </div>

      <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()" *ngIf="!isSubmitted">
        <div class="form-group">
          <div class="label-wrapper">
            <i class="fa-regular fa-envelope"></i>
            <label for="email">Adresse email</label>
          </div>
          <input type="email" id="email" formControlName="email" 
                 placeholder="exemple@email.com"
                 [class.invalid]="showErrors && f['email'].invalid">
          
          <div *ngIf="showErrors && f['email'].errors" class="error-message">
            <i class="fa-solid fa-exclamation-triangle"></i>
            <div class="error-text">
              <span *ngIf="f['email'].errors['required']">Ce champ est obligatoire</span>
              <span *ngIf="f['email'].errors['email']">
                Format d'email invalide (ex: exemple&#64;email.com)
              </span>
            </div>
          </div>
        </div>

        <button type="submit" class="submit-btn" [disabled]="forgotForm.invalid && showErrors">
          Envoyer le lien de réinitialisation
        </button>
      </form>
    </div>
  </div>
</div>